<!DOCTYPE HTML>

<html>

<head>
  <title>{ business_name } Accounts | { page_name }</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{ base_url }/style.css">
</head>

<body>

<header>
  <h1 id="business-name">{ business_name }</h1>
  <p id="business-information">{ business_information }</p>
  <h2 id="page-name">{ page_name }</h2>
  <p><strong>Functional currency: { functional_currency }</strong></p>
  <div id="page-links">
    { page_links }
  </div>
</header>
